eln-cache/
elpa/
transient/
tramp
autosave/
elpaca/
.cache/
custom.el
history
places
auto-save-list/
recentf
custom*
.lsp-session-*
projectile-*
projects
forge-database.*
session.*
.dap-breakpoints
.extension/
